<!-- Input bar to enter feed URL -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">RSS Feed reader 0.1</a>
    </div>
    <form class="navbar-form navbar-left" [formGroup]="urlForm">
      <div class="input-group">
        <input size="50" name="newFeedUrl" type="text" class="form-control" placeholder="Enter RSS feed URL" (keyup.enter)="onSubmit()"
          formControlName="newFeedUrl">
        <span class="input-group-btn">
        <input class="btn btn-default"  (click)="onSubmit()" [disabled]="!urlForm.valid" value="Add feed!">
      </span>
      </div>
    </form>

  </div>
</nav>
<div *ngIf="error" class="alert alert-warning box-msg" role="alert" [innerHTML]="errorMessage">
</div>

<!-- Content -->
<div class="container">

  <div class="feed-info ">
    <div class="list-group" *ngIf="feedInfos.length">
      <h4 class="list-group-item-heading">Your feeds:</h4>
      <div *ngFor="let fInfo of feedInfos">
        <p class="list-group-item-text">{{fInfo?.title}}</p>
      </div>
    </div>
  </div>

  <div class="feed-list" *ngIf="feedInfos.length">

    <div class="btn-group">
      <button [ngClass]="determineAbcClasses()" class="btn btn-default" (click)="onSortAbc()" btnRadio="Left">Abc</button>
      <button [ngClass]="determineDateClasses()" class="btn btn-default" (click)="onSortDate()" btnRadio="Right">Date</button>
    </div>

    <div class="list-group">
      <!-- Listing feed cards !!! With first and last child hack fix-->
      <a href="#" class="list-group-item" *ngFor="let feed of feeds">
        <app-feed-card [feed]="feed"></app-feed-card>
      </a>
    </div>
    <!-- Showing spinner while getting feeds -->
    <app-spinner *ngIf="!feeds.length && feedInfos.length"></app-spinner>
  </div>
  <h2 class="col-sm-9 text-center" *ngIf="!feedInfos.length">Add feeds in the form above</h2>

</div>