body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.list-group-item{
  padding: 0;
}


.form-control:focus {
  box-shadow: none ;
  border: 1px solid #ccc ;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075) ;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}
