<span (click)="showChildModal()">{{feed.title}} <sub>{{feed.pubDate }}</sub></span>

<!-- control modal from parent component -->

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content" *ngIf='selectedFeed'>
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{feed.title}}</h4>
      </div>
      <div class="modal-body">
        <p>{{feed.description | stripHtmlTags }}</p>
        <a class="btn btn-default" [attr.href]="feed.link" target="_blank">Full article</a>
        <button class="btn btn-danger" (click)="hideChildModal()">Close</button>

      </div>
    </div>
  </div>
</div>