/* You can add global styles to this file, and also import other style files */

// no blue outline around buttons
.btn{
   outline:none !important;
}

.feed-list{
margin-right: 25%;
}

.feed-info{

float: right;
    width: 24%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

     .feed-list{
      float: none;
      margin: 0;
      }

      .feed-info{
      float: none;
      width: 100%;
      }
    
}